@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.font-mont {
  font-family: "Montserrat", sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}
/* Font */

.banner{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent), url('/public/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.swiper {
  width: 600px;
  height: 300px;
}